<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link th:rel="icon" th:href="@{/images/favicon.ico}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}">

<title th:text="#{report.main}"></title>

<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet">
<style type="text/css">/* Chart.js */
</style>

<body>
<div th:insert="service-header :: header"></div>

<div th:insert="userSidebar :: sidebar"></div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h4 style="position: relative; width: 30%; left: 35%" class="mb-3" th:text="#{report.main}"></h4>
    <section id="tabs">
        <div style="position: relative; left: 5%; width: 30%" class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link " id="nav-home-tab" th:href="@{/user/create-report}"
                               aria-selected="false" th:text="#{report.form}"></a>
                            <a class="nav-item nav-link active" id="nav-profile-tab"
                               th:href="@{/user/create-report-file}" aria-selected="true" th:text="#{report.file}"></a>
                        </div>
                    </nav>


                </div>
            </div>
        </div>
    </section>
    <p></p>
    <p></p>

    <div id="form" style="position: relative; width: 83%; left: 17%; ">

        <div class="col-md-8 order-md-1">
            <form class="needs-validation" enctype="multipart/form-data" method="post"
                  th:action="@{/user/confirm-report-file}">
                <div class="file-field">
                    <div class="btn btn-primary btn-sm" style="position: relative; left: 36%;">
                        <input required type="file" th:placeholder="#{report.filetype}" accept=".json,.xml" name="file"
                               id="customFileLang" lang="">
                        <label for="customFileLang"></label>
                    </div>
                </div>
                <p></p>
                <p></p>
                <button class="btn btn-primary btn-lg btn-block" style="width: 30%; position: relative; left: 38% "
                        type="submit" th:text="#{request.submit}">
                </button>
            </form>

        </div>
    </div>
</main>
</body>
</html>

