
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagination</title>
</head>
<body>
<nav aria-label="Navigation for countries" th:fragment="pagination">
    <ul class="pagination">
        <li class="page-item" th:if="${page != 1}"><a class="page-link" th:if="${page != 1}"
                                                      th:href="@{${command}(page=${page}-1, rowCount=${rowCount})}" th:text="#{pagination.prev}"></a>
        </li>
        <li class="page-item" th:if="${numberOfPages != 1}" th:each="i : ${#numbers.sequence(1, numberOfPages)}"
            th:classappend="${i == page} ? 'active'">
            <a class="page-link" th:href="@{${command}(page=${i}, rowCount=${rowCount})}" th:text="${i}"></a>
        </li>
        <li class="page-item" th:if="${page < numberOfPages}">
            <a class="page-link" th:text="#{pagination.next}" th:href="@{${command}(page=${page}+1, rowCount=${rowCount})}"></a>
        </li>
    </ul>
</nav>
</body>
</html>