<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link th:rel="icon" th:href="@{/images/favicon.ico}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}">

<title th:text="#{user.showReports}"></title>

<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet">
<style type="text/css">/* Chart.js */
</style>
</head>

<body>
<div th:insert="service-header :: header"></div>

<div th:insert="userSidebar :: sidebar"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h4 style="position: relative; width: 500px; left: 40%" class="mb-3" th:text="#{user.showReports}">
    </h4>
    <div style="position: relative; width: 75%; left: 25%" th:if="${not #lists.isEmpty(reports.getContent())}">
        <div class="row col-md-6">
            <table class="table">
                <tr>
                    <th th:text="#{user.reportId}">
                    </th>
                    <th th:text="#{user.reportDate}">
                    </th>
                    <th th:text="#{user.reportStatus}">
                    </th>
                    <th th:text="#{user.reportAction}">
                    </th>
                </tr>
                <tr th:each="report : ${reports.content}">
                    <td th:text="${report.id}"></td>
                    <td th:text="${report.creationDate}"></td>
                    <td th:text="${report.status}"></td>
                    <td class=""><a class="page-link"
                                    th:href="@{/user/report/{id}(id = ${report.id})}"
                                    th:text="#{user.reportShow}">
                    </a></td>
                </tr>
            </table>
        </div>

        <ul class="pagination">
            <li th:class="page-item" th:if="${reports.getTotalPages() > 1}" class="pagination"
                th:each="pageNumber : ${#numbers.sequence(1, reports.getTotalPages())}"
                th:classappend="${pageNumber==reports.number + 1} ? 'active'">
                <a th:class="page-link" th:href="@{reports?&(page=${pageNumber}-1)}"
                   th:text=${pageNumber}></a>
            </li>
        </ul>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    </div>
    <div th:if="${#lists.isEmpty(reports.getContent())}"><h3 style="position: relative; width: 500px; left: 40%"
                                                             th:text="#{report.empty}"></h3></div>
</main>
</body>
</html>