<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="header">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="" th:text="#{head.hello} + ' ' + *{name}" th:object="${session.user}"></a>
    <ul class="navbar-nav px-3" style="position: relative; left: 51%">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="?locale=en">Eng</a>
        </li>
    </ul>
    <ul class="navbar-nav px-3" style="position: relative; left: 34%">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="?locale=ru">Рус</a>
        </li>
    </ul>
    <ul class="navbar-nav px-3" style="position: relative; left: 17%">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="?locale=ua">Укр</a>
        </li>
    </ul>
    <ul class="navbar-nav px-3" style="position: relative;">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:text="#{head.out}" th:href="@{/signOut}"></a>
        </li>
    </ul>
</nav>
</body>